
<div class="header">
<app-toolbar></app-toolbar>

<h2>
    Receitas
</h2>
<app-receita-env-button></app-receita-env-button>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="staticBackdropLabel">Receitas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <app-titulo-form></app-titulo-form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<app-titulo-grid [tipo]="0" ></app-titulo-grid>
<router-outlet />
